* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    /* background-color: rgba(38, 153, 251, 1); */
    /* background-color: #f4f4f4f4; */
    background-color: #ffffff;
    color: #555;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}